* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@500&family=Rubik:ital@1&display=swap");

.body-h {
  background-color: rgb(29, 28, 28);
 
  
}

.selec::-moz-selection {
  background-color: coral;
  color: white;
}

.selec::selection {
  background-color: coral;
  color: white;
}

.logo {
  color: azure;
  font-size: 20px;
  font-family: "Geologica", sans-serif;
  text-shadow: 0 0 5px black;
}

.resalt:hover {
  text-shadow: 0 0 5px white;
}

.minavbar a:hover {
  text-shadow: 0 0 5px;
  font-size: 20px;
  transition: 0.3s;
  padding: 5px;
}

.navbar-w {
  background-color:rgb(71, 68, 68);
}

main {
  background-image: url(./Media/miain.jpg);
  background-position: center;
  background-size: cover;
  padding: 15px;
  text-align: center;
  padding: 150px;
}

.fondo {
  background-color: rgba(0, 0, 0, 0.548);
  padding: 20px;
}

.sobremi h4 {
  color: coral;
  margin-bottom: 30px;
}

.botonesmi {
  text-decoration: none;
  color: rgb(214, 211, 211);
  font-family: "Geologica", sans-serif;
  background-color: rgb(214, 107, 68);
  padding: 5px;
  border-radius: 15px;
  font-weight: bold;
  padding: 5px 10px;
}

.botonesmi:hover {
  background-color: rgb(17, 16, 15);
  transition: 0.5s;
  color: white;
  text-decoration: none;
}

.container-half {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  border: solid 2px rgba(187, 183, 180, 0.164);
  margin-top: 10px;
}

.container-half div {
  flex: 1;
  padding: 10px;
}

@media (max-width: 767px) {
  .container-half div {
    flex: 100%;
  }
}

.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  text-decoration: none;
  padding: 8px;
  border-radius: 50%;
  z-index: 99;
  font-size: 20px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.whatsapp-button:hover {
  background-color: #128c7e;
  transform: scale(1.3);
  transition: 0.5s;
  color: azure;
}

/*pagina de contactos */
@mixin button-styles {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: coral;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: white;
    transform: scale(1);
    transition: 0.2s;
    border: solid 2px black;
  }
}

.contactosbody {
  font-family: Arial, sans-serif;
  background-color: rgb(29, 28, 28);
  padding: 20px;
  height: 600px;
}

.container-c {
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(82, 77, 77, 0.281);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group-c {
  margin-bottom: 20px;
  color: coral;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button.btn-c {
  @include button-styles;
}

/* Fin de pagina de contactos  */

.bodyplanes {
  background-color: rgb(29, 28, 28);
}

.card {
  background-color: rgba(29, 28, 28, 0.664);
  text-align: center;
}

video {
  width: 100%;
  height: auto;
  display: block;
}

footer {
  background:coral
}

.fa-instagram {
  font-size: 25px;
  color: white;
}

.fa-whatsapp {
  font-size: 25px;
  color: white;
}
.empre {
  margin-top: 20px;
}

.carouselExampleControls {
  height: 200px;
}

@mixin subtitulos1 {
  color: azure;
  text-shadow: 0 0 10px black;
  font-family: "Geologica", sans-serif;
  padding: 5px;
}

@mixin texto1 {
  font-family: "Rubik", sans-serif;
  color: coral;
  text-shadow: 0 0 5px;
}

.subtitulos {
  @include subtitulos1;
}

.texto {
  @include texto1;
}

.planes{
  background-color: rgb(29, 28, 28);
}



.gallery {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5px;
}

.image {
  position: relative;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  
}

.overlay {
  position: absolute;
  padding:15px;
  text-align: center;
  font-weight: bold;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image:hover img {
  transform: scale(1.1);
}

.image:hover .overlay {
opacity:1;
}

.descripcion{
  background-color: rgb(29, 28, 28);
  text-align: center;
  padding: 10px;
 
  
}

.bodyplanes{
overflow: hidden  !important;
}
